body{background-color:aliceblue;}
ul{background-image: linear-gradient(to right,DarkBlue, DodgerBlue);height:58px;width:100%;}
#banner{position: relative;}
#banner img{width:100%;height:650px;margin-top:-3px;}
.content h2{color:yellow;font-family:'Dosis';font-size:1000%;}
.content p{color:yellow;font-family:'Acme';font-size:500%;;}
.indent{text-indent:7%;visibility:visible;}
.content{
    position:absolute;
    top:200px;
    text-indent:50px;
    text-shadow:5px 2px 4px darkblue;}
li{display:inline;}
a{color:yellow;text-decoration-line: none;font-family:'Dosis';padding:7px;font-size:150%;}
.columns a{color:deepskyblue;font-size:130%;margin-left:15px;}
#title{float:left;margin-top:5px;text-indent:20px;font-family:'Caveat';font-size:230%;color:white;}
#left{float:left;margin-left:45px;font-family:'Dosis';padding:1%;}
#new{float:left;margin-left:30px;font-size:150%;padding:1%;}
#right{font-size:100%;color:white;float:right;margin-top:10px;margin-right:10px;text-align:center;background-color:DarkTurquoise;border-radius:5px;width:20%;}
h1{text-indent:20px;color:darkblue;font-family:'Dosis';font-weight:10px;text-align:center;font-size:200%;}
h2{text-indent:20px;color:dodgerblue;text-align:center;font-size:130%;}
p{margin-left:20px;text-indent:10px;font-size:130%;}
.subnav .sub-btn {
    font-size: 150%;font-family:'Dosis';
    border: none;
    outline: none;
    color: yellow;
    padding:10%;
    padding-bottom:9.5%;
    background-image: linear-gradient(to right,#0e3bc2, #1e49c9);
    margin-left:45px;}        
 .subnav {
    float:left;
    overflow: hidden;}
#left:hover, #new:hover,
 .subnav:hover .sub-btn {
    background-color: DarkTurquoise;
    font-weight: bolder;
    color: white;
    text-decoration:none;}
 .sub-content {
    display: none;
    position: absolute;
    background-color: darkblue;
    width: 22%;
    z-index: 1;}
 .sub-content a {text-align:center;color: white;text-decoration: none;}
 .sub-content a:hover {background-color:dodgerblue ;color: white;}
 .subnav:hover .sub-content {display: block;}
#img1{border-radius:5px;margin-left:30px;width:100%;height:65%;}
#img2{border-radius:5px;margin-left:30px;width:100%;height:85%;}
#img3{border-radius:5px;margin-left:30px;width:100%;height:90%;}
#img4{border-radius:5px;margin-left:30px;width:100%;height:85%;margin-top:5%;}
#img5{border-radius:5px;margin-left:30px;width:100%;height:65%;}
#firstrow1{background-color:white;}
#secondrow2{background-color:white;margin-top:-8%;}
#thirdrow3{background-color:white;}
#firstrow1 p{text-indent:20px;}
#secondrow2 p{text-indent:20px;margin-top:5%;}
#thirdrow3 p{text-indent:20px;}
mark{background-color:rgb(160, 233, 226);}
@media only screen and (max-width: 1400px){
.content h2{color:snow;font-family:'Caveat';font-size:800%;}
.content p{color:snow;font-family:'Acme';font-size:400%;;}}
@media only screen and (max-width: 1300px){.subnav .sub-btn {background-image: linear-gradient(to right,#0444c4, #1d53cf);}}
@media only screen and (max-width: 1160px){
.subnav .sub-btn {background-image: linear-gradient(to right,#0a54cc, #0b67e0);}
#secondrow2{margin-top:0%;}
#thirdrow3{margin-top:10%;}}
@media only screen and (max-width: 1020px){
.subnav .sub-btn {background-image: linear-gradient(to right,#0a54cc, #0b67e0);margin-top:-5px;}}
@media only screen and (max-width: 1000px) {
    #img2{border-radius:5px;margin-left:30px;width:100%;height:80%;margin-top:7px;}
    .subnav .sub-btn {background-image: linear-gradient(to right,#1c60d6, #1370eb);margin-top:-5px;}}
@media only screen and (max-width: 991px) {
#img1{border-radius:5px;margin-left:13%;margin-top:80px;width:75%;height:60%;}
#img2{border-radius:5px;margin-left:13%;margin-top:50px;width:75%;height:65%;}
#img4{border-radius:5px;margin-left:13%;margin-top:50px;width:75%;height:65%;}
#img3{border-radius:5px;margin-left:13%;margin-top:30px;width:75%;height:73%;}
#img5{border-radius:5px;margin-left:13%;margin-top:80px;width:75%;height:60%;margin-top:-1%;}
#right{margin-right:82%;margin-top:2%;}
#firstrow1 h1{margin-top:-80%;}
#firstrow1 p{margin-top:55%;}
#secondrow2 p{margin-top:-13%;}
#thirdrow3 p{margin-top:-7%;}
h1{margin-left:0%;}
.indent{visibility:hidden;}
}
@media only screen and (max-width: 786px) {
.subnav .sub-btn {background-image: linear-gradient(to right,#1c70d6,#1e74ff);margin-top:-5px;}}
@media only screen and (max-width: 768px) {
.subnav .sub-btn {background-color:dodgerblue;margin-top:-10px;font-size:120%;}
#right{font-size:120%;margin-top:5px;}
#new{font-size:120%;}
#left{font-size:120%;}}
@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

